/* Blog Page Specific Styles */

#main .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#main .posts article {
    width: 48%;
    margin-bottom: 2em;
}

@media screen and (max-width: 736px) {
    #main .posts article {
        width: 100%;
    }
}